[submodule "external/RAG"]
	path = external/RAG
	url = https://github.com/joanix2/RAG.git
[submodule "external/jinja_templates"]
	path = external/jinja_templates
	url = https://github.com/joanix2/Jinja-Templates.git
[submodule "external/JTx2"]
	path = external/JTx2
	url = https://github.com/joanix2/JSON-Tree-Jinja-Transpiler.git
